body {
    margin: 0;
    overflow-y: scroll;
}

.header {
    width: 100%;
    height: 150px;
    /*background-color: #606;*/
}
.titulo {
    width: 430px;
    height: 80px;
    background: url("../images/titulo.jpg") no-repeat center top;
    background-size: contain;
    /*background-color: #1e120a;*/
    margin-left: 200px;
}
.menu ul li {
    display: inline;
    font-family: arial;
    font-size: 14px;
    padding-right: 15px;
}
.header-img {
    width: 100%;
    height: 436px;
    background: url("../images/spa.jpg") no-repeat center top;
    background-size: contain;
    border-top: 5px solid #5d3b20;
    border-bottom: 8px solid #5d3b20;
}

.footer {
    width: 100%;
    height: 200px;
    background-color: #1e120a;
    border-top: 15px solid #b38057;
    display: flex;
    justify-content: center;
}
.container-footer {
    width: 1400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: arial;
    font-size: 16px;
    color: #ab8b65;
    margin-right: 30px;
    background-color: palegreen;
}

#section_container{
    text-align: center;
    width: 100%;
}

#secciones{
    width: 80%;
    min-height: 200px; 
    display: inline-block;
}

#imgPortada_instalaciones_container{
    width: 30%;
    height: 300px;
    display:inline-block;
    background: url("../images/instalaciones.jpg") no-repeat center top;
}

#text_instalaciones_container{
    width: 50%;
    display:inline-block;
}

#imgCercle_instalaciones_container{
    width: 19%;
    height: 300px;
    display:inline-block;
    background: url("../images/imagesTest/qh_grand_boras_spa1.jpg") no-repeat center top;
    
}
