body {
    margin: 0;
    overflow-y: scroll;
}

/*elimina flechas de input type=number*/
/* Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance:textfield;
}

/********************************** MODAL SOCIOS ******************************/
.modal_socios {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .modal_socios:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal_dialog_socios {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

* {
    box-sizing: border-box;
}

#perfilBtn :hover{
    background: #0080ff;
}

#reservasBtn :hover{
    background: #0080ff;
}

.modal_header_socios {
    text-align: center;
    background: #455A64;
    color: white;
    border-radius: 5px 5px 0px 0px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}

.modal_header_socios .close{
    padding-top: 0;
}

.modal_header_socios h4 {
    margin-left: 18px;
    width: 100%;
}

.modal_footer_socios {
    display: block;
}

.modal_title_socios {
    text-align: center;
    display:inline;
    cursor:default;
    font-size: 18px;
    margin: 0;
    line-height: 1.42857143;
    font-weight: 500;
}

.close_icon {
    display:inline;
    margin-top: -2px;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
}

.close_icon a{
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    font-size: 30px;
}
/******************************************************************************/

/************************* HEADER *********************************************/
.container {
    max-width: 100% !important;
    width: 70%;
    margin: 0 auto;
}
.margin-bandera {
    margin-left: 2vw;
}
#idioma {
    background: transparent;
    border: none;
}
ul.ext-box {
    display: table;
    width:100%;
}

li.int-box {
    /*display: table-cell;*/
    display: inline-block;
    vertical-align: middle;
}

/*.acceso a:link {
    font-family: arial;
    font-size: 1vw;
    color: #000;
    text-decoration: none;
}
*/
.menu ul li a {
    /*display: inline;*/
    font-family: arial;
    font-size: 1.3vw;
    border-bottom: 0.5vw solid #FFF;
}
.menu a:hover {
    border-bottom: 0.5vw solid palegreen;
}
.menu a:active {
    border-bottom: 0.5vw solid palegreen;
}
.header-img {
    width: 100%;
    border-top: 0.5vw solid #5d3b20;
    border-bottom: 0.7vw solid #5d3b20;
}
.description {
    width: 70%;
    padding: 2.5vw;
    margin: 0 auto;
    position: relative;
    top: -3vw;
    z-index: 1;
}
.description p {
    font-family: 'Poppins', sans-serif;
    font-size: 1vw;
    color: #FFF;
}
.desc-bgcolor-home {
    background-color: #cfae81;
}
/******************************************************************************/

/**************************** HABITACIONES ************************************/
.desc-bgcolor-hab {
    background-color: #bea280;
}
.habitaciones {
    margin-top: 2vw;
    font-family: 'Arapey', serif;
    font-size: 1.5vw;
    letter-spacing: 0.5vw;
    color: #5d3b20;
}
.hab-line {
    height: 0.05vw;
    background-color: #5d3b20;
}
.ficha {
    width: 100%;
    padding-top: 3vw;
    padding-bottom: 3vw;
}
.hab-description {
    width: 30%;
    z-index: 1;
    margin-top: 3vw;
    background-color: #e3d5c4;
    position: absolute;
    padding: 3vw;
}
.hab-img {
    width: 70%;
    position: relative;
    padding: 0.6vw;
    border: 0.1vw solid #b79061;
}
.dcha-description {
    left: 55%;
}
.dcha-img {
    left: 33%;
}
.nombre {
    font-family: 'IM Fell French Canon SC', serif;
    font-size: 1vw;
}
.rombo {
    font-size: 0.8vw;
    color: #b79061;
    padding: 0 1vw;
}
.titulo {
    font-family: 'Arapey', serif;
    font-size: 2.5vw;
}
.mindescrip {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9vw;
}
.hab {
    font-family: sans-serif;
    font-size: 1vw;
}
.hab button {
    color: #FFF;
    padding: 0.4vw 2.5vw;
    background-color: #b79061;
    cursor: pointer;
}
.hab button:hover {
    background-color: #5d3b20;
}
.hab a:link {
    color: #b79061;
    text-decoration: none;
    margin-left: 1.5vw;
}
.hab a:hover {
    color: #5d3b20;
}
/******************************************************************************/

/**************************** HAB REST SPA MODAL ******************************/
#containerModal {
    border: 2px solid #666;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.075)inset, 0 0 6px rgba(0,0,0,0.6);
}
.font-dark {
    color: #000;
}
.detalles ul {
    margin-top: 1vw;
    margin-left: 1vw;
    margin-bottom: 2vw;
    list-style-type: none;
}
/******************************************************************************/

/**************************** RESTAURANTE ************************************/
.desc-bgcolor-rest {
    background-color: #96586d;
}
.rest-description {
    width: 30%;
    z-index: 1;
    margin-top: 3vw;
    padding: 3vw;
    background-color: #d1acbc;
    position: absolute;
}
.rest-img {
    width: 70%;
    position: relative;
    padding: 0.6vw;
    border: 0.1vw solid #866189;
}
/******************************************************************************/

/******************************* SPA ******************************************/
.desc-bgcolor-spa {
    background-color: #59a0be;
}
.spa-description {
    width: 30%;
    z-index: 1;
    margin-top: 3vw;
    padding: 3vw;
    background-color: #d2dee7;
    position: absolute;
}
.spa-img {
    width: 70%;
    position: relative;
    padding: 0.6vw;
    border: 0.1vw solid #6d93e1;
}
/******************************************************************************/

/****************************** TRATAMIENTOS **********************************/
.desc-bgcolor-trata {
    background-color: #99bca7;
}
.trata-description {
    width: 30%;
    z-index: 1;
    margin-top: 3vw;
    padding: 3vw;
    background-color: #c9dfd2;
    position: absolute;
}
.trata-img {
    width: 70%;
    position: relative;
    padding: 0.6vw;
    border: 0.1vw solid #69b3a1;
}
/******************************************************************************/

/******************************** MAIN ************************************/

.main_container {
    margin-top: 5vw;
    margin-bottom: 5vw;
}

.main_row{
    margin-top: 2vw;
    margin-bottom: 2vw;
    height: 8vw;
}

.main_col{
    height: 8vw;
}

h4 {
    font-size: 1.4vw;
    text-align: left;
}

p {
    font-size: 0.9vw;
    text-align: left;
}

.img {
    float:right;
    max-height: 100%;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}

/******************************************************************************/

/**************************** HOTEL SECTIONS ************************************/

.hotel_section_container {
    margin-top: 5vw;
    margin-bottom: 5vw;
}

.hotel_section_row{
    margin-top: 2vw;
    margin-bottom: 2vw;
    height: 15vw;
}

.div_center_content {
    position: relative;
    overflow: hidden;
}

.center_width_img {
    max-height: 85%;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

.hotel_section_titulo{
    text-align: center;
    margin-top: 10px;
    font-size: 1vw;
    font-style: italic;
}

.hotel_section_div_title{
    height: 12%;
}

.hotel_section_div_img{
    height: 88%;
}


/******************************** SUBSCRIBE *****************************************/
.subscribe {
    font-family: arial;
    padding-left: 9vw;
    padding-right: 9vw;
    margin-top: 5vw;
    margin-bottom: 3vw;
}
.subscribe a:link {
    text-decoration: none;
    color: #000;
}
.line {
    width: 100%;
    border-top: 0.1vw solid #b79061;
    margin-bottom: 1vw;
}
.text-title {
    font-size: 1vw;
    font-weight: bold;
    margin-bottom: 1vw;
}
.text-med {
    font-size: 0.9vw;
    font-weight: bold;
}
.text-slim {
    font-size: 0.7vw;
}
.marco {
    margin-top: 1vw;
    border: 0.15vw solid #b79061;
    padding: 0.8vw;
}
.marco button {
    font-size: 0.8vw;
    color: #FFF;
    padding: 0.2vw 2.5vw;
    background-color: #b79061;
    cursor: pointer;
}

/******************************************************************************/

/************************** FOOTER ********************************************/
.footer {
    padding-top: 2vw;
    padding-bottom: 2vw;
    background-color: #1e120a;
    border-top: 1vw solid #b38057;
    font-family: arial;
    font-size: 1vw;
    color: #ab8b65;
}

/******************************************************************************/

/******************************** CONTACTO ************************************/

.texto-encabezado{
    margin-top: 4vw;
    margin-bottom: 1vw;
}

.titulo_contacto{
    font-size: 2.2vw;
    text-align: center;
    font-weight: bold;
}

.subtitulo_contacto{
    font-size: 1.1vw;
    text-align: center;
}

.titulo_form_contacto{
    font-size: 2vw;
    text-align: center;
    margin-bottom: 2vw;
    font-weight: bold;
}

.div_input{
    margin-bottom: 2vw;
}

.input_contacto{
    font-size: 1.2vw;
    text-align: center;
}

#textarea{
    resize: none;
}
