body {
    margin: 0;
    overflow-y: scroll;
}

/************************* HEADER *********************************************/
.container {
    /*width: 1400px;*/
    max-width: 100% !important;
    width: 70%;
    margin: 0 auto;
}
.menu ul li {
    display: inline;
    font-family: arial;
    font-size: 1.3vw;
    padding-right: 1vw;
}
.header-img {
    width: 100%;
    border-top: 0.5vw solid #5d3b20;
    border-bottom: 0.7vw solid #5d3b20;
}
/******************************************************************************/





.main_container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.main_row{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 150px;
}

.main_col{
    height: 150px;
}

p {
    font-size: 0.9vw;
    text-align: left;
}

.img {
    float:right;
    width: 100%;
    height: 100%;
}

/*box-shadow: 0 1px 1px rgba(0,0,0,0.075)inset, 0 0 6px rgba(0,0,0,0.6);*/

/************************** SUBSCRIBE *****************************************/
.form-row {
    /*max-width: 100% !important;*/
    width: 100%;
    background-color: palegreen;
}
.subscribe {
    font-family: arial;
    padding-left: 9vw;
    padding-right: 9vw;
    margin-top: 5vw;
    margin-bottom: 3vw;
}
.subscribe a:link {
    text-decoration: none;
    color: #000;
}
.line {
    width: 100%;
    border-top: 0.1vw solid #b79061;
    margin-bottom: 1vw;
}
.text-title {
    font-size: 1vw;
    font-weight: bold;
    margin-bottom: 1vw;
}
.text-med {
    font-size: 0.9vw;
    font-weight: bold;
}
.text-slim {
    font-size: 0.7vw;
}
.marco {
    margin-top: 1vw;
    border: 0.15vw solid #b79061;
    padding: 0.8vw;
}
.marco button {
    font-size: 0.8vw;
    color: #FFF;
    padding: 0.2vw 2.5vw;
    background-color: #b79061;
}
/******************************************************************************/

/************************** FOOTER ********************************************/
.footer {
    padding-top: 2vw;
    padding-bottom: 2vw;
    background-color: #1e120a;
    border-top: 1vw solid #b38057;
    font-family: arial;
    font-size: 1vw;
    color: #ab8b65;
}
/******************************************************************************/
